/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*CSS RESET END*/

/*Global Stuff*/
html{
    text-align: center;
}

h1, h2, h3 ,h4{
    font-family: 'comfortaa', bold;
    font-size: xx-large;
}

p{
    font-family: 'comfortaa', light;
    font-size: x-large;
}

header{
    background-color: #D74452;
}

.book{
	background-color: #2D838D;
}

.books{
    background-color: #2D838D;
}

.event{
	background-color: #DAD3B7;
}

.events{
    background-color: #DAD3B7;
}

.newsletter{
    background-color: #DB9F34;
}

#company{
    background-color: #DB8E36;
	display: grid;
	grid-template-columns: 1fr;
}

#company div{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

img{
	height: 700px;
	width: auto;
}

a{
	font-family: 'comfortaa', light;
    font-size: x-large;
	color: black;
}

svg{
	height:50px;
	width: 50px;
}

.socialmedia{
	padding: 10px;

}

form{
	font-family: 'comfortaa', light;
    font-size: x-large;
	display:grid;
	grid-template-columns: 1fr;
}

.hidden{
	visibility: hidden;
}
/*Global Stuff END*/

/*Specific Rules Stuff*/

@media (min-width: 640px){

}


@media (min-width: 768px){
	h1, h2, h3 ,h4{
		font-family: 'comfortaa', bold;
		font-size: large;
	}
	
	p{
		font-family: 'comfortaa', light;
		font-size: medium;
	}

	.books{
		display:grid;
		grid-template-columns: 1fr 1fr;
	}

	img{
		height:350px;
		width:auto;
	}

	.events{
		display:grid;
		grid-template-columns: 1fr 1fr;
	}
}
	
@media (min-width: 1024px){
	.books{
		display:grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	.events{
		display:grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}